<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DeanKellyAppointmentApp.Properties.Settings.U04pMbConnectionString"
      connectionString="server=52.206.157.109;user id=U04pMb;database=U04pMb;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="DeanKellyAppointmentApp.Properties.Settings.U04pMbConnectionString1"
      connectionString="server=52.206.157.109;user id=U04pMb;password=53688309901;database=U04pMb;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
